.div-img {
    width: 100%; 
    height: 250px;
    margin-bottom: 10px;
    border-radius: 5px; 
    background-position: auto;
    background-repeat: no-repeat;
    cursor: pointer;
}

.link-container {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.text { 
    color: gray;
}

.link-icon {
    max-width: 24px;
    margin-right: 10px;
    filter: invert(0.5) sepia(0) saturate(20) hue-rotate(90deg);
}

.github-icon-r {
    max-width: 24px;
    margin-right: 10px;
    filter: invert(0.5) sepia(0) saturate(20) hue-rotate(90deg);
}

.link-container:hover .text {
    color: inherit;
}

.link-container:hover .link-icon {
    filter: none;
}

.link-container:hover .github-icon-r {
    filter: none;
}

@media (hover: none) and (pointer: coarse) {
    .text {
        color: inherit;
    }
    
    .link-icon {
        filter: none;
    }
    
    .github-icon-r {
        filter: none;
    }
}