.logo {
    min-width: 30px;
    max-width: 30px;
    margin-right: 20px;
    margin-left: 10px;
    filter: invert(0.5) sepia(0) saturate(20) hue-rotate(90deg);
}

.logo:hover {
    filter: invert(0.5) sepia(0.8) saturate(20) hue-rotate(200deg);
    cursor: pointer;
}

#link {
    margin-bottom: -1px;
    min-width: 32px;
    max-width: 32px;
}