.contact-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 15px;
}

.contact-text { 
    color: rgb(105, 105, 105);
}

.contact-icon {
    max-width: 28px;
    margin-right: 10px;
    filter: invert(0.5) sepia(0) saturate(20) hue-rotate(90deg);
}

.github-icon {
    max-width: 28px;
    margin-right: 10px;
    filter: invert(0.5) sepia(0) saturate(20) hue-rotate(90deg);
}

.contact-container:hover .contact-text {
    color: inherit;
}

.contact-container:hover .contact-icon {
    filter: none;
}

.contact-container:hover .github-icon {
    filter: none;
}

@media (hover: none) and (pointer: coarse) {
   .contact-text {
        color: inherit;
    }
    
    .contact-icon {
        filter: none;
    }
    
    .github-icon {
        filter: none;
    }
}